<section class="banner header" style="background-image: url('images/about.jpeg');">
    <div class="overlay">
        <div class="container">
            <div class="caption">About Us</div>
        </div>
    </div>
</section>

<section class="info">
   <div class="container">
        <div class="wrapper mb-5">
            <div class="content">
                <div class="title">About SATL</div>
                <div class="text">
                    SATL Freight Nigeria Limited is a subsidiary of SATL Freight Pty, South Africa, founded in 2013. SATL Freight Nigeria Limited is primarily a container logistics provider that services the shipping industry and offers a one stop solution to all clients. 
                </div>
            </div>
            <div class="img" style="background-image: url('images/aaa.jpeg');"></div>
        </div>
   </div>
</section>

<section class="ourteam">
    <div class="container">
        <div class="title">Directors</div>
        <div class="team-wrapper">
            <div class="service-card">
                <div class="image" style="background-image: url('images/ekemini.jpeg');"></div>
                <div class="content">
                    <div class="content-title">Ekemini Amos</div>
                    <small>Director</small>
                    <div class="text">Mr Ekemini Thompson Amos is a founding Director of SATL Nigeria. Mr. Amos holds a Bachelor of Engineering Degree (B.Eng) in Mechanical Engineering, from the University of Bolton, UK. He is a member of the Royal Institution of Mechanical Engineers, a member of American Society of Mechanical Engineers, and an Alumnus of London Business School. </div>
                </div>
            </div>

            <div class="service-card">
                <div class="content">
                    <div class="content-title">Vishen Ramsewak</div>
                    <small>Director</small>
                    <div class="text">Vishen Ramsewak has been involved in the logistics industry for the past 25 years. He comes with the vast experience of warehousing, road and rail transport services, containerised and break bulk loading, container depots knowledge, repair facilities for containers, refrigerated container knowledge including tracking, monitoring services.</div>
                </div>
                <div class="image" style="background-image: url('images/vishen.jpeg');"></div>
            </div>
        </div>
    </div>
</section>