<section class="banner header" style="background-image: url('images/about.jpeg');">
    <div class="overlay">
        <div class="container">
            <div class="caption">About Us</div>
        </div>
    </div>
</section>

<section class="info">
   <div class="container">
        <div class="wrapper">
            <div class="content">
                <div class="title">About SATL</div>
                <div class="text">
                    SATL Freight Nigeria Limited is a subsidiary if SATL Freight Pty, 
                    South Africa, founded in 2013. SATL Freight Nigeria Limited is primarily 
                    a container logistics provider that services the shipping industry and offers 
                    a one stop solution to all clients.
                </div>
            </div>
            <div class="img" style="background-image: url('images/aaa.jpeg');"></div>
        </div>
   </div>
</section>