<section class="banner header" style="background-image: url('images/career.jpeg');">
    <div class="overlay">
        <div class="container">
            <div class="caption">Careers</div>
        </div>
    </div>
</section>

<section class="info">
    <div class="container">
         <div class="wrapper">
             <div class="content" style="width: 100%;">
                 <div class="title">Join Us</div>
                 <div class="text">
                     <p>
                         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa tempore voluptates nesciunt nam temporibus quae atque, voluptatum minus illo quo. Quisquam cumque labore facere? Iure asperiores voluptatem ratione similique dolorum!
                         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa tempore voluptates nesciunt nam temporibus quae atque, voluptatum minus illo quo. Quisquam cumque labore facere? Iure asperiores voluptatem ratione similique dolorum!
                         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa tempore voluptates nesciunt nam temporibus quae atque, voluptatum minus illo quo. Quisquam cumque labore facere? Iure asperiores voluptatem ratione similique dolorum!
                     </p>
                     <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa tempore voluptates nesciunt nam temporibus quae atque, voluptatum minus illo quo. Quisquam cumque labore facere? Iure asperiores voluptatem ratione similique dolorum!
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa tempore voluptates nesciunt nam temporibus quae atque, voluptatum minus illo quo. Quisquam cumque labore facere? Iure asperiores voluptatem ratione similique dolorum!
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa tempore voluptates nesciunt nam temporibus quae atque, voluptatum minus illo quo. Quisquam cumque labore facere? Iure asperiores voluptatem ratione similique dolorum!
                    </p>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa tempore voluptates nesciunt nam temporibus quae atque, voluptatum minus illo quo. Quisquam cumque labore facere? Iure asperiores voluptatem ratione similique dolorum!
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa tempore voluptates nesciunt nam temporibus quae atque, voluptatum minus illo quo. Quisquam cumque labore facere? Iure asperiores voluptatem ratione similique dolorum!
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa tempore voluptates nesciunt nam temporibus quae atque, voluptatum minus illo quo. Quisquam cumque labore facere? Iure asperiores voluptatem ratione similique dolorum!
                    </p>
                 </div>
             </div>
         </div>
    </div>
 </section>