<section class="banner header" style="background-image: url('images/career.jpeg');">
    <div class="overlay">
        <div class="container">
            <div class="caption">Careers</div>
        </div>
    </div>
</section>

<section class="info">
    <div class="container">
         <div class="wrapper">
             <div class="content" style="width: 100%;">
                 <div class="text">
                     <div class="center">
                        <img src="images/office.jpg" alt="">
                     </div><br>
                     <p class="center">
                        We invite you to join our growing team of professionals working in an exciting and rewarding environment.
                     </p><br>

                     <div class="center">
                        <a style="display: inline-block;" href="mailto:Info@satlfreight.ng" class="button">Send Us an Email</a>
                     </div><br><br>
           
                 </div>
             </div>
         </div>
    </div>
 </section>