<section class="banner" style="background-image: url('images/banner.jpeg');">
    <div class="overlay">
        <div class="container">
            <div class="caption">Reliable and flexible Logistics</div>
            <div class="title">Personalized cargo services in worldwide commerce</div>
            <button class="button">Know more</button>
        </div>
    </div>
</section>

<section class="services">
    <div class="container">
        <div class="card-wrap">
            <div class="card">
                <img src="images/ship.svg" alt="">
                <div class="title">Sea Freight</div>
                <div class="content">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto consectetur 
                    hic suscipit reiciendis? Vero in, inventore sed placeat sequi animi.
                </div>
            </div>

            <div class="card">
                <img src="images/delivery-truck.svg" alt="">
                <div class="title">Road Transport</div>
                <div class="content">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto consectetur 
                    hic suscipit reiciendis? Vero in, inventore sed placeat sequi animi.
                </div>
            </div>

            <div class="card">
                <img src="images/aeroplane.svg" alt="">
                <div class="title">Air Cargo</div>
                <div class="content">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto consectetur 
                    hic suscipit reiciendis? Vero in, inventore sed placeat sequi animi.
                </div>
            </div>
        </div>
    </div>
</section>