<section class="banner header" style="background-image: url('images/services.jpeg');">
    <div class="overlay">
        <div class="container">
            <div class="caption">Services</div>
        </div>
    </div>
</section>

<section class="featured-services-page">
    <div class="container">
        <div class="services-wrapper">
            <div class="service-card">
                <div class="image" style="background-image: url('images/tracking.jpeg');"></div>
                <div class="content">
                    <div class="content-title">Tracking management</div>
                    <div class="text">At SATL, we have our own tracking management system which caters for the gate-in and gate-out of containers as well as managing daily stock at our container depot. Containers will be tracked in and out of our facility via booking reference numbers which will only be issued by our customers as part of our security protocol. Import laden containers arriving at our depot will have container numbers and seal numbers noted on the transporters documents for easy reference to book the containers into the depot and stack in the respective slots for each client. Export laden containers will be tracked out of the depot with container and seal numbers as well booking release instructions so as to maintain proper security protocol. </div>
                </div>
            </div>

            <div class="service-card">
                <div class="content">
                    <div class="content-title">Container repairs</div>
                    <div class="text">SATL possesses the capability to repair damaged containers. Our experienced container inspectors are able to accurately evaluate the extent of damage to empty containers and move them to our workshop where repairs will be carried out.</div>
                </div>
                <div class="image" style="background-image: url('images/container.jpeg');"></div>
            </div>

            <div class="service-card">
                <div class="image" style="background-image: url('images/road transport.jpeg');"></div>
                <div class="content">
                    <div class="content-title">Road transportation, of containerised cargo</div>
                    <div class="text">SATL offers collection and delivery of containerized cargo within the locality of operations, using a fleet of dedicated trucks in excellent condition.</div>
                </div>
            </div>

            <div class="service-card">
                <div class="content">
                    <div class="content-title">Packing and unpacking of cargo</div>
                    <div class="text">We provide storage of various types of cargo at our warehouse. We carry out packing and unpacking of cargo into and from containers according to customers’ specifications. We also carry out transportation of the packed containers to the Port for the respective vessel loading plan. </div>
                </div>
                <div class="image" style="background-image: url('images/crgo.png'); background-size: contain;"></div>
            </div>

            <div class="service-card">
                <div class="image" style="background-image: url('images/wearhous.jpg');"></div>
                <div class="content">
                    <div class="content-title">Inspection services</div>
                    <div class="text">We transport and prepare containers marked for inspection by the Customs Service from the Port to our facility and store them in a demarcated area. Once inspection is concluded, we ensure all documentation is finalized and release the container to the client. </div>
                </div>
            </div>


            <div class="service-card">
                <div class="content">
                    <div class="content-title">Refrigerated containers</div>
                    <div class="text">Refrigerated containers are very sensitive given the need to maintain correct temperature levels in accordance with regulation. Our depots are equipped with the facilities to receive ad adequately store refrigerated containers, ensuring that all required temperature settings are provided, We also monitor the containers on a 24/7 basis with technicians on call to attend to the repairs of the faulty component/s and ensure the cargo is not compromised.</div>
                </div>
                <div class="image" style="background-image: url('images/ref-container.jpeg')"></div>
            </div>
        </div>
    </div>
</section>


