<section class="banner header" style="background-image: url('images/services.jpeg');">
    <div class="overlay">
        <div class="container">
            <div class="caption">Services</div>
        </div>
    </div>
</section>

<section class="featured-services service" style="margin-top: 0;">
    <div class="container">
        <div class="wrap">
            <div class="title">Our Services</div>
            <div class="caption">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur.</div>
        </div>
        <div class="services-wrapper">
            <div class="service-card">
                <div class="image" style="background-image: url('images/tracking.jpeg');"></div>
                <div class="content">
                    <div class="content-title">Tracking management</div>
                    <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, ullam! adipisicing elit. Ad, ullam!</div>
                </div>
            </div>

            <div class="service-card">
                <div class="image" style="background-image: url('images/container.jpeg');"></div>
                <div class="content">
                    <div class="content-title">Container repairs</div>
                    <div class="text">Repairs and upgrades to containers, depending on the commodity being packed for export shipments</div>
                </div>
            </div>

            <div class="service-card">
                <div class="image" style="background-image: url('images/road transport.jpeg');"></div>
                <div class="content">
                    <div class="content-title">Road transportation, of containerised cargo</div>
                    <div class="text">Collection and delivery of containers within the locality of operations, using a fleet of dedicated trucks in excellent condition.</div>
                </div>
            </div>

            <div class="service-card">
                <div class="image" style="background-image: url('images/crgo.png'); background-size: contain;"></div>
                <div class="content">
                    <div class="content-title">Packing and unpacking of cargo</div>
                    <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, ullam! adipisicing elit. Ad, ullam!</div>
                </div>
            </div>

            <div class="service-card">
                <div class="image" style="background-image: url('images/wearhous.jpg');"></div>
                <div class="content">
                    <div class="content-title">Warehousing services</div>
                    <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, ullam! Ad, ullam!.</div>
                </div>
            </div>

            <div class="service-card">
                <div class="image" style="background-image: url('images/inspector.jpg')"></div>
                <div class="content">
                    <div class="content-title">Inspection services</div>
                    <div class="text">Customs examination of containers, 
                        Tunnel inspection, 
                        Tailboard inspections</div>
                </div>
            </div>

            <div class="service-card">
                <div class="image" style="background-image: url('images/shipping.jpg');"></div>
                <div class="content">
                    <div class="content-title">Shipping Containers</div>
                    <div class="text">Scheduling collection, transportation, and delivery of import / export containers at the Port.</div>
                </div>
            </div>

            <div class="service-card">
                <div class="image" style="background-image: url('images/ref-container.jpeg')"></div>
                <div class="content">
                    <div class="content-title">Refrigerated containers</div>
                    <div class="text">Refrigerated containers plugged in to 3 phase power points for monitoring of temperature</div>
                </div>
            </div>
        </div>
    </div>
</section>