$white: #ffffff;
$black: #0c1832;
$hash: #8f97a7;
$brand-color: #194178;
$brand-color2: #f38121;

.hide-on-mobile {
  display: flex;
  @media (max-width: 991px) {
    display: none;
  }
}
.hide-on-desktop {
  display: none;
  @media (max-width: 991px) {
    display: flex;
  }
}

.link{
  color: inherit;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  color: $black;
  background-color: #fefefe;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

ul {
  margin: 0;
  padding: 0;
}

.button {
  display: inline-block;
  align-items: center;
  padding: 0 26px;
  background: $brand-color2;
  line-height: 47px;
  border-radius: 5px;
  color: $white;
  font-size: 15px;
  font-family: roboto, sans-serif;
  font-weight: 400;
  overflow: hidden;
  text-align: center;
  position: relative;
  z-index: 2;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: flex;
}

.center{
  text-align: center;
}

.mb-5{
  margin-bottom: 5rem;
}

.view-all{
  text-align: center;
  width: 100%;
  a{
    display: inline-block
  }
}

header {
  font-family: "Roboto", sans-serif;
  .logo-wrap {
    display: block;
    background-color: $white;
    .logo-section {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: center;
      height: 91px;
      .logo {
        img {
          width: 130px;
        }
      }
      .info {
        padding-top: 10px;
        display: flex;
        ul {
          li {
            display: inline-block;
            margin-right: 30px;
            border-right: 1px solid #f1f1f1;
            padding-right: 30px;
            .title {
              font-size: 14px;
              color: $hash;
              margin-bottom: 10px;
            }
            .content {
              font-size: 16px;
              color: $black;
            }
          }
        }
      }
    }
  }
  nav {
    display: block;
    height: 67px;
    background-color: $brand-color;
    ul {
      text-align: center;
      height: 100%;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
      li {
        display: inline-block;
        a {
          color: $white;
          margin-right: 40px;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 14px;
        }
      }
    }
    ul.mobile-menu {
      justify-content: flex-end;
      color: $white;
      button {
        border: 1px solid rgba(255, 255, 255, 0.35);
        background-color: transparent;
        color: $white;
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;
        span {
          display: block;
          border: 1px solid $white;
          width: 18px;
          margin-bottom: 4px;
          border-radius: 2px;
        }
        span:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .mobile-nav {
    background-color: $brand-color;
    border-top: 1px solid rgba(255, 255, 255, 0.35);
    color: $white;
    padding: 20px;
    display: none;
    a {
      color: $white;
      text-decoration: none;
    }
    ul {
      text-align: center;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
      li {
        display: block;
        width: 100%;
        margin-bottom: 20px;
        a {
          color: $white;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 16px;
        }
      }
    }
  }
}

.banner {
  height: 85vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  @media (max-width: 991px) {
    height: 70vh;
  }
  .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: $white;
    .caption {
      font-size: 34px;
      line-height: 44px;
      letter-spacing: 0px;
      font-weight: 300;
      color: rgba(255, 255, 255, 0.78);
      font-family: roboto condensed, sans-serif;
      margin-top: 26vh;
      margin-bottom: 20px;
      @media (max-width: 991px) {
        margin-top: 10vh;
      }
    }
    .title {
      font-size: 50px;
      line-height: 60px;
      letter-spacing: 0px;
      width: 730px;
      margin-bottom: 20px;
      text-transform: uppercase;
      font-weight: 700 !important;
      text-transform: uppercase;
      font-family: roboto condensed, sans-serif;
      @media (max-width: 991px) {
        width: 100%;
        line-height: 40px;
        font-size: 30px;
      }
    }
  }
  &.bottom {
    height: 50vh;
    background-attachment: fixed;
    @media (max-width: 991px) {
      height: 70vh;
    }
    .overlay {
      text-align: center;
      .caption {
        margin-top: 7vh;
        @media (max-width: 991px) {
          margin-top: 7vh;
          font-size: 34px;
        }
      }
      .title {
        margin: auto;
        font-size: 35px;
        line-height: 47px;
        @media (max-width: 991px) {
          font-size: 26px;
          line-height: 29px;
        }
      }
      .button {
        text-align: center;
        width: 100px;
        margin: auto;
        margin-top: 20px;
        justify-content: center;
      }
    }
  }
  &.header {
    height: 25vh;
    background-attachment: fixed;
    .overlay {
      text-align: center;
      .caption {
        margin-top: 7vh;
        color: $white;
        @media (max-width: 991px) {
          margin-top: 7vh;
          font-size: 30px;
        }
      }
    }
  }
}

.services {
  margin-top: -4rem;
  @media (max-width: 991px) {
    margin-top: 2rem;
  }
  .card-wrap {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    @media (max-width: 991px) {
      flex-wrap: wrap;
    }
    .card {
      text-align: center;
      box-shadow: 0 0 14px rgba(136, 159, 229, 0.2);
      padding: 20px 28px 30px;
      background: $white;
      margin-bottom: 15px;
      width: 310px;
      z-index: 1;
      border-radius: 2px;
      @media (max-width: 991px) {
        width: 100%;
      }
      img {
        height: 47px;
        fill: $brand-color;
      }
      .title {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 24px;
        color: $brand-color;
        padding: 15px 0 22px;
      }
      .content {
        font-size: 15px;
        line-height: 26px;
        color: $black;
        font-family: roboto, sans-serif;
        font-weight: 400;
      }
    }
  }
}

.info {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 11rem;
    @media (max-width: 991px) {
      margin-top: 4rem;
    }
    .content {
      width: 45%;
      @media (max-width: 991px) {
        width: 100%;
        margin-bottom: 3rem;
      }
      .title {
        font-family: roboto condensed, sans-serif;
        font-size: 34px;
        line-height: 44px;
        letter-spacing: 0px;
        font-weight: 300;
        margin-bottom: 20px;
        color: $brand-color2;
      }
      .text {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        line-height: 30px;
        text-align: justify;
      }
    }
    .img {
      height: 20rem;
      width: 45%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: relative;
      border-radius: 10px;
      @media (max-width: 991px) {
        height: 20vh;
        width: 100%;
      }
    }
  }
}

.contact-us {
  padding: 70px 0 70px 0;
  background: #f9f8ff;
  text-align: center;
  .title {
    text-align: center;
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 25px;
    width: 100%;
    margin-bottom: 20px;
    color: $brand-color;
    @media (max-width: 991px) {
      line-height: 40px;
    }
  }
  .caption {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 32px;
    width: 60%;
    margin: auto;
    margin-bottom: 40px;
    @media (max-width: 991px) {
      width: 100%;
    }
  }
  .card-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    @media (max-width: 991px) {
      flex-direction: column;
    }
    .card {
      width: 27%;
      background: #fff;
      text-align: left;
      padding: 20px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom;
      box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.11);
      border: none;
      padding: 40px 20px;
      margin-bottom: 30px;
      border-radius: 10px;
      @media (max-width: 991px) {
        width: 90%;
      }
      .icon {
        margin-bottom: 20px;
      }
      .title {
        font-size: 19px;
        text-align: left;
      }
      .caption {
        width: 100%;
        margin-bottom: 0;
      }
    }
  }
  .contact-card {
    display: flex;
    justify-content: space-between;
    @media (max-width: 991px) {
      flex-wrap: wrap;
    }
    .card {
      width: 32%;
      margin-bottom: 0rem;
      @media (max-width: 991px) {
        width: 100%;
        margin-bottom: 1rem;
      }
      .icon {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.05);
        background-color: #ffffff;
        margin: auto;
        i {
          display: inline-block;
          color: $brand-color2;
          font-size: 30px;
          padding-top: 2rem;
        }
      }
      .caption {
        text-align: center;
        width: 100%;
        margin-top: 1rem;
        a {
          color: inherit;
        }
      }
    }
  }
}

.map {
  iframe {
    width: 100%;
    height: 400px;
  }
}

.who-we-are {
  margin-top: 100px;
  text-align: center;
  .wraper {
    width: 60%;
    margin: auto;
    @media (max-width: 991px) {
      width: 100%;
    }
  }
  .title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
    color: $brand-color;
    margin-bottom: 40px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 60px;
      border: 2px solid $brand-color2;
      bottom: -10px;
      left: 50%;
      margin-left: -30px;
    }
  }
  .content {
    font-size: 15px;
    line-height: 26px;
    color: $black;
    font-family: roboto, sans-serif;
    font-weight: 400;
  }
}

.featured-services {
  margin-top: 8rem;
  padding: 7rem 0;
  background-color: #eff3f6;
  &.service {
    @media (max-width: 991px) {
      padding: 3rem 0;
    }
  }
  .wrap {
    width: 60%;
    margin: auto;
    margin-bottom: 5rem;
    @media (max-width: 991px) {
      width: 100%;
      margin-bottom: 3rem;
    }
  }
  .title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
    color: $brand-color;
    margin-bottom: 30px;
    position: relative;
    text-align: center;
    &::after {
      position: absolute;
      content: "";
      width: 60px;
      border: 2px solid $brand-color2;
      bottom: -10px;
      left: 50%;
      margin-left: -30px;
    }
  }
  .caption {
    font-size: 15px;
    color: $black;
    font-family: roboto, sans-serif;
    font-weight: 400;
    text-align: center;
  }
  .services-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .service-card {
      background: #fff;
      width: 48%;
      margin-bottom: 3rem;
      @media (max-width: 991px) {
        width: 100%;
        display: flex;
      }
      .image {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 222px;
        clip-path: none;
        display: table-cell;
        vertical-align: middle;
        clip-path: polygon(0 0, 100% 0, 88% 100%, 0% 100%);
        @media (max-width: 991px) {
          width: 100%;
          clip-path: none;
        }
      }
      .content {
        position: relative;
        padding-left: 25px;
        padding-right: 27px;
        transition: all 0.5s ease;
        display: table-cell;
        vertical-align: middle;
        padding: 30px;
        @media (max-width: 991px) {
          width: 100%;
        }
        .content-title {
          font-weight: 700;
          margin-bottom: 10px;
        }
        .text {
          color: $black;
        }
      }
    }
  }
}

.featured-services-page{
  padding: 7rem 0;
  background-color: #eff3f6;
  &.service {
    @media (max-width: 991px) {
      padding: 3rem 0;
    }
  }
  .wrap {
    width: 60%;
    margin: auto;
    margin-bottom: 5rem;
    @media (max-width: 991px) {
      width: 100%;
      margin-bottom: 3rem;
    }
  }
  .title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
    color: $brand-color;
    margin-bottom: 30px;
    position: relative;
    text-align: center;
    &::after {
      position: absolute;
      content: "";
      width: 60px;
      border: 2px solid $brand-color2;
      bottom: -10px;
      left: 50%;
      margin-left: -30px;
    }
  }
  .caption {
    font-size: 15px;
    color: $black;
    font-family: roboto, sans-serif;
    font-weight: 400;
    text-align: center;
  }
  .services-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 4rem;
    @media (max-width: 991px) {
      padding: 0;
    }

    .service-card {
      width: 100%;
      margin-bottom: 3rem;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 3rem;
      @media (max-width: 991px) {
        width: 100%;
        display: flex;
      }
      .image {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 17rem;
        width: 24rem;
        border-radius: 5px;
        margin-bottom: 3rem;
        @media (max-width: 991px) {
          width: 100%;
        }
      }
      .content {
        position: relative;
        transition: all 0.5s ease;
        display: table-cell;
        vertical-align: middle;
         width: 37rem;
        @media (max-width: 991px) {
          width: 100%;
        }
        .content-title {
          font-weight: 700;
          margin-bottom: 20px;
          font-size: 20px;
          color: $brand-color;
        }
        .text {
          color: $black;
          line-height: 28px;
        }
      }
    }
  }
}

.ourteam{
  padding: 5rem 0;
  background-color: #eff3f6;
  .title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
    color: $brand-color;
    margin-bottom: 5rem;
    position: relative;
    text-align: center;
    &::after {
      position: absolute;
      content: "";
      width: 60px;
      border: 2px solid $brand-color2;
      bottom: -10px;
      left: 50%;
      margin-left: -30px;
    }
  }
  .team-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 4rem;
    @media (max-width: 991px) {
      padding: 0;
    }

    .service-card {
      width: 100%;
      margin-bottom: 3rem;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 3rem;
      @media (max-width: 991px) {
        width: 100%;
        display: flex;
      }
      .image {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 19rem;
        width: 24rem;
        border-radius: 5px;
        margin-bottom: 3rem;
        @media (max-width: 991px) {
          width: 100%;
        }
      }
      .content {
        position: relative;
        transition: all 0.5s ease;
        display: table-cell;
        vertical-align: middle;
         width: 41rem;
        @media (max-width: 991px) {
          width: 100%;
        }
        .content-title {
          font-weight: 700;
          margin-bottom: 5px;
          font-size: 20px;
          color: $brand-color;
        }
        small{
          margin-bottom: 15px;
          display: block;
        }
        .text {
          color: $black;
          line-height: 28px;
          margin-bottom: 2rem;
        }
      }
    }
  }
}

footer {
  border-top: 1px solid #e8ecf6;
  padding: 60px 0 30px 0;
  position: relative;
  @media (max-width: 991px) {
    padding: 50px 0 50px 0;
  }
  .wrap {
    display: flex;
    flex-direction: row;
    @media (max-width: 991px) {
      flex-direction: column;
    }
    .copy {
      width: 50%;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      text-align: left;
      @media (max-width: 991px) {
        width: 100%;
        text-align: center;
        order: 1;
      }
    }
    .social {
      width: 50%;
      ul {
        text-align: right;
        margin-top: 0;
        @media (max-width: 991px) {
          text-align: center;
          margin-top: 30px;
          padding-left: 0;
        }
        li {
          display: inline-block;
          margin-left: 20px;
          @media (max-width: 991px) {
            margin-right: 20px;
            margin-left: 0;
          }
          a {
            display: inline-block;
            img {
              width: 25px;
            }
          }
        }
      }
      @media (max-width: 991px) {
        width: 100%;
      }
    }
  }
}
